<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <div id="search-form">
    <i id="search-icon" class="fas fa-search"></i>
    <input id="search" class="form-control" type="search" placeholder="Serach for tasks..." aria-label="Filter">
  </div>   -->
  <div id="project-name-container" class="mx-auto">
    <span id="project-name">Current Project: {{projectName}}</span>
  </div>
  <!-- <ul class="navbar-nav ml-auto mr-4">
    <li class="nav-item d-flex align-items-center">
        <span id="profile-name">Tyler Vu</span>
    </li>
    <li class="nav-item">
      <button mat-button [matMenuTriggerFor]="profileMenu" class="float-right section-menu">
        <span>
          <img id="profile-img" src="../../../assets/imgs/profile-placeholder.jfif">  
        </span>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Log Out</button>
      </mat-menu>
    </li>
  </ul> -->
</nav>
